@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Collapsible Group Item #1
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Collapsible Group Item #2
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Collapsible Group Item #3
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>*@
<br />
<br />
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card-deck" style="background-color: green">
                    <div class="card">
                        <div class="card-body">
                            <center><h5 class="card-title">PGO</h5></center>
                            <div class="card-text">
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                        <div class="col-sm-7">
                                            <a>Target</a>
                                            <br />
                                            <a>Pencapaian</a>
                                            <br />
                                            <a>Jumlah Buku</a>
                                            <br />
                                            <a>Jumlah Bab</a>
                                            <br />
                                            <a>Jumlah Sub Bab</a>
                                            <br />
                                            <a>Jumalh Sub Sub Bab</a>
                                            <br />
                                            <a>Status</a>
                                            <br />
                                        </div>
                                        <div class="col-sm-3">
                                            <a>:100%</a>
                                            <br />
                                            <a>:100%</a>
                                            <br />
                                            <a>:90</a>
                                            <br />
                                            <a>:90</a>
                                            <br />
                                            <a>:90</a>
                                            <br />
                                            <a>:90</a>
                                            <br />
                                            <a>:On Behind</a>
                                            <br />
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-deck" style="background-color: green">
                    <div class="card">
                        <div class="card-body">
                            <center><h5 class="card-title">PGO</h5></center>
                            <div class="card-text">
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-7">
                                        <a>Target</a>
                                        <br />
                                        <a>Pencapaian</a>
                                        <br />
                                        <a>Jumlah Buku</a>
                                        <br />
                                        <a>Jumlah Bab</a>
                                        <br />
                                        <a>Jumlah Sub Bab</a>
                                        <br />
                                        <a>Jumalh Sub Sub Bab</a>
                                        <br />
                                        <a>Status</a>
                                        <br />
                                    </div>
                                    <div class="col-sm-3">
                                        <a>:100%</a>
                                        <br />
                                        <a>:100%</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:On Behind</a>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-deck" style="background-color: green">
                    <div class="card">
                        <div class="card-body">
                            <center><h5 class="card-title">PGO</h5></center>
                            <div class="card-text">
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-7">
                                        <a>Target</a>
                                        <br />
                                        <a>Pencapaian</a>
                                        <br />
                                        <a>Jumlah Buku</a>
                                        <br />
                                        <a>Jumlah Bab</a>
                                        <br />
                                        <a>Jumlah Sub Bab</a>
                                        <br />
                                        <a>Jumalh Sub Sub Bab</a>
                                        <br />
                                        <a>Status</a>
                                        <br />
                                    </div>
                                    <div class="col-sm-3">
                                        <a>:100%</a>
                                        <br />
                                        <a>:100%</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:On Behind</a>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-deck" style="background-color: green">
                    <div class="card">
                        <div class="card-body">
                            <center><h5 class="card-title">PGO</h5></center>
                            <div class="card-text">
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-7">
                                        <a>Target</a>
                                        <br />
                                        <a>Pencapaian</a>
                                        <br />
                                        <a>Jumlah Buku</a>
                                        <br />
                                        <a>Jumlah Bab</a>
                                        <br />
                                        <a>Jumlah Sub Bab</a>
                                        <br />
                                        <a>Jumalh Sub Sub Bab</a>
                                        <br />
                                        <a>Status</a>
                                        <br />
                                    </div>
                                    <div class="col-sm-3">
                                        <a>:100%</a>
                                        <br />
                                        <a>:100%</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:On Behind</a>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-deck" style="background-color: green">
                    <div class="card">
                        <div class="card-body">
                            <center><h5 class="card-title">PGO</h5></center>
                            <div class="card-text">
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-7">
                                        <a>Target</a>
                                        <br />
                                        <a>Pencapaian</a>
                                        <br />
                                        <a>Jumlah Buku</a>
                                        <br />
                                        <a>Jumlah Bab</a>
                                        <br />
                                        <a>Jumlah Sub Bab</a>
                                        <br />
                                        <a>Jumalh Sub Sub Bab</a>
                                        <br />
                                        <a>Status</a>
                                        <br />
                                    </div>
                                    <div class="col-sm-3">
                                        <a>:100%</a>
                                        <br />
                                        <a>:100%</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:On Behind</a>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-deck" style="background-color: green">
                    <div class="card">
                        <div class="card-body">
                            <center><h5 class="card-title">PGO</h5></center>
                            <div class="card-text">
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-7">
                                        <a>Target</a>
                                        <br />
                                        <a>Pencapaian</a>
                                        <br />
                                        <a>Jumlah Buku</a>
                                        <br />
                                        <a>Jumlah Bab</a>
                                        <br />
                                        <a>Jumlah Sub Bab</a>
                                        <br />
                                        <a>Jumalh Sub Sub Bab</a>
                                        <br />
                                        <a>Status</a>
                                        <br />
                                    </div>
                                    <div class="col-sm-3">
                                        <a>:100%</a>
                                        <br />
                                        <a>:100%</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:On Behind</a>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-deck" style="background-color: green">
                    <div class="card">
                        <div class="card-body">
                            <center><h5 class="card-title">PGO</h5></center>
                            <div class="card-text">
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-7">
                                        <a>Target</a>
                                        <br />
                                        <a>Pencapaian</a>
                                        <br />
                                        <a>Jumlah Buku</a>
                                        <br />
                                        <a>Jumlah Bab</a>
                                        <br />
                                        <a>Jumlah Sub Bab</a>
                                        <br />
                                        <a>Jumalh Sub Sub Bab</a>
                                        <br />
                                        <a>Status</a>
                                        <br />
                                    </div>
                                    <div class="col-sm-3">
                                        <a>:100%</a>
                                        <br />
                                        <a>:100%</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:On Behind</a>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-deck" style="background-color: green">
                    <div class="card">
                        <div class="card-body">
                            <center><h5 class="card-title">PGO</h5></center>
                            <div class="card-text">
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-7">
                                        <a>Target</a>
                                        <br />
                                        <a>Pencapaian</a>
                                        <br />
                                        <a>Jumlah Buku</a>
                                        <br />
                                        <a>Jumlah Bab</a>
                                        <br />
                                        <a>Jumlah Sub Bab</a>
                                        <br />
                                        <a>Jumalh Sub Sub Bab</a>
                                        <br />
                                        <a>Status</a>
                                        <br />
                                    </div>
                                    <div class="col-sm-3">
                                        <a>:100%</a>
                                        <br />
                                        <a>:100%</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:90</a>
                                        <br />
                                        <a>:On Behind</a>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>