@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<table id="example1" class="table table-bordered table-responsive table-striped">
    <thead>
        <tr>
            <td rowspan="2">Bab</td>
            <td rowspan="2">Jadwal</td>
            <td rowspan="2">No_Instruksi</td>
            <td rowspan="2">Tanggal berlaku</td>
            <td rowspan="2">Tanggal Jatuh Tempo</td>
            <td rowspan="2">Time Line</td>
            <td colspan="2">Progress</td>
            <td colspan="2">Target</td>
            <td rowspan="2">Status Proposal</td>
            <td rowspan="2">Action</td>
        </tr>
        <tr>
            <td>Detail</td>
            <td>%</td>
            <td>Detail</td>
            <td>%</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>Done</td>
            <td>Edit | View | Delete</td>
        </tr>
    </tbody>
</table>