@{
    ViewBag.Title = "InputKebijakan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Instruksi Kerja Specifik</h2>
<hr />
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <label>Hasil Review</label>
            <div>
                <select required id="HasilReview" name="HasilReview" class="form-control input-sm select2"></select>
            </div>
        </div>
        <div class="col-sm-6">
            <label>Updateing</label>
            <div>
                <select required id="Updateting" name="Updateting" class="form-control input-sm select2"></select>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <label>Dasar Updateting</label>
            <div>
                <select required id="DasarUpdate" name="DasarUpdate" class="form-control input-sm select2"></select>
            </div>
        </div>
        <div class="col-sm-6">
            <label>Acuan Updateting</label>
            <div>
                <select required id="AcuanUpdate" name="AcuanUpdate" class="form-control input-sm select2"></select>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <label>Sebelum</label>
            <br />
            <textarea id="HasilReview" name="HasilReview" style="width:100%;"></textarea>
        </div>
        <div class="col-sm-6">
            <label>Sesudah</label>
            <br />
            <textarea id="DasarUpdate" name="DasarUpdate" style="width:100%;"></textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <label>Dasar Penyusunan / Perubahan</label>
            <br />
            <textarea id="DasarUpdate" name="DasarUpdate" style="width:100%;"></textarea>
        </div>
    </div>
    <br />
    <button type="submit" class="btn-block">Simpan</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
            $(document).ready(function () {
                LoadHasilReviewId();
                LoadUpdatingId();
                LoadDasarUpdatingId();
                LoadAcuanUpdatingId();
            })

            function LoadHasilReviewId() {
                $.ajax({
                    type: "GET",
                    url: "/MasterHasilReviews/Get",
                    async: false,
                    dataType: "JSON",
                    success: function (data) {
                        var html = '';
                        var i = 1;
                        $.each(data, function (index, val) {
                            html += '<option value="' + val.Id + '">' + val.Nama + '</option>';
                        });
                        $('#HasilReview').html(html);
                    }
                })
            }

            function LoadUpdatingId() {
                $.ajax({
                    type: "GET",
                    url: "/MasterUpdatings/Get",
                    async: false,
                    dataType: "JSON",
                    success: function (data) {
                        var html = '';
                        var i = 1;
                        $.each(data, function (index, val) {
                            html += '<option value="' + val.Id + '">' + val.Nama + '</option>';
                        });
                        $('#Updateting').html(html);
                    }
                })
            }

            function LoadDasarUpdatingId() {
                $.ajax({
                    type: "GET",
                    url: "/MasterDasarUpdatetings/Get",
                    async: false,
                    dataType: "JSON",
                    success: function (data) {
                        var html = '';
                        var i = 1;
                        $.each(data, function (index, val) {
                            html += '<option value="' + val.Id + '">' + val.Nama + '</option>';
                        });
                        $('#DasarUpdate').html(html);
                    }
                })
            }

            function LoadAcuanUpdatingId() {
                $.ajax({
                    type: "GET",
                    url: "/MasterAcuanUpdatetings/Get",
                    async: false,
                    dataType: "JSON",
                    success: function (data) {
                        var html = '';
                        var i = 1;
                        $.each(data, function (index, val) {
                            html += '<option value="' + val.Id + '">' + val.Nama + '</option>';
                        });
                        $('#AcuanUpdate').html(html);
                    }
                })
            }
    </script>
}